
<div fxLayoutAlign="row"  fxLayoutGap="15px" style="margin-top: 15px;">

<mat-card style= "width:320px;height:200px; background-color: violet;" *ngFor="let note of NoteArray">
<div>
    title
</div>
<div>
    description- welcome to notes<br>custom batch
    
</div>
<!--<app-icons></app-icons>-->
</mat-card>

<mat-card style= "width:320px;height:300px; background-color: tomato;">
    <div>
        title
    </div>
    <div>
        description- welcome to notes<br>fellowship batch
        
    </div>
   <!--- <app-icons></app-icons>-->
    </mat-card>

    <mat-card style= "width:320px;height:200px; background-color: greenyellow;">
        <div>
            title
        </div>
        <div>
            description- welcome to notes
            
        </div>
   <!--- <app-icons></app-icons>-->
        </mat-card>
    
</div>
   