<div fxLayout="row" fxLayoutAlign="center center">
      <mat-card (click)="onClick()" *ngIf="!show||show" >
        <div>
        <input  matInput  placeholder="Take a Note.." type="text"/>
      </div>
      </mat-card>
      <mat-card *ngIf="show">
    
      <div fxLayout="column" fxLayoutGap="10px">
        
        <textarea matInput placeholder="Title"[(ngModel)]="title"></textarea>
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
        <textarea matInput placeholder="Take a note..."[(ngModel)]="description"></textarea>
      </div>
    </div>
    <div fxLayout="row">
    <app-icons></app-icons>
        <div class="closepart" (click)="onClose()">Close</div>
     </div>
      </div>
  </mat-card>
</div>







<!--<button mat-icon-button class="example-icon" aria-label="">
    <mat-icon>check_box</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="">
    <mat-icon>brush</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="" >
    <mat-icon>photo</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="" >
    <mat-icon>pin</mat-icon>
  </button>-->


