.main{
    margin:30px;
}


.close{
    display: flex;
    margin-left: 5cm;
       
}
.textbar{
    width:12cm;
    align-content: center;
}

input{
    border:0px;
    outline: none;
}

.innerbar{
    width:10cm;
}

.example-icon{
    margin-right: 0.1cm;
}

