.matcard2{
    font-size: 18px;
}

.typepart{
    width:6cm;
    outline: none;
    border:none;
}

.cancelbtn{
    font-size: 3px;
}

.done{
    outline: none;
    border: none;
}

.icons{
  display: flex;
  
  
}