.main{
    display: flex;
    height: 75%;
    width: 40%;
    border: 1px solid gray;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
}

.placewidth{
    width: 8cm
}

h1{
   display: flex;
    font-size: 1.6em;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: flex-start;
    padding-left: 1.1cm;
    color: black;
    opacity: 80%;
    font-size: 1em;
}


.f {
    font-size: 3.2em;
    color: #4285f4;
  }
  .u {
    font-size: 3.2em;
    color: #db4437;
  }
  .n {
    font-size: 3.2em;
    color: #f4b400;
  }
  .d {
    font-size: 3.2em;
    color: #4285f4;
  }
  .o {
    font-size: 3.2em;
    color: #0f9d58;
  }
  .O {
    font-size: 3.2em;
    color: #db4437;
  }

  .emailfooter{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 90px;
   }
 
   .button {
     background-color: #4688f1;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     padding: 2px 35px;
     cursor: pointer;
     height: 40px;
     width: auto;
     font-weight: 950;
 }
 
 .text {
     display: flex;
     color: blue;
     padding: 0px 172px 0px 34px;
     cursor: pointer;
     font-weight: normal;
     font-size: 16px;
 }

 /*.example-section {
    margin: 12px 0;
  }*/
  
  .example-margin {
      display: flex;
      padding-left: 1cm;
    margin: 0 12px;
  }