<div class="main">
  <form [formGroup]="passwordForm">
<p>
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="O">o</span>
</p>
<h1>
    Account recovery
</h1>
<h2>Enter the last email that you remember using this Fundoo Account</h2> 

    

<div class="emailpart">
<mat-form-field appearance="outline" class="placewidth">
    <mat-label>Enter email</mat-label>
    <input matInput placeholder="" formControlName="email">
    <mat-error>Email required !</mat-error>
  </mat-form-field>
</div>

<section class="example-section">
    <mat-checkbox class="example-margin">Show password</mat-checkbox>   
  </section>

<div class="emailfooter">
    <p class="text">Try another way </p>
    <button (click)="onSubmit()" mat-raised-button color="primary" class="button">Next</button>
</div>
</form>
</div>